APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=1
APP_URL=https://your-domain.com

APP_HTTPS=true  
SSL_KEY_PATH='/etc/letsencrypt/live/your-domain.com/privkey.pem'
SSL_CERT_PATH='/etc/letsencrypt/live/your-domain.com/fullchain.pem'

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=your_database
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# VK OAuth
VKONTAKTE_CLIENT_ID=
VKONTAKTE_CLIENT_SECRET=
VKONTAKTE_SERVICE_KEY=
VKONTAKTE_REDIRECT_URI=https://your-domain.com/auth/vk/callback

# Telegram Bot Settings
TELEGRAM_TOKEN=
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_ADMIN_IDS=
TELEGRAM_CHANNEL_ID=
TELEGRAM_MIN_DEPOSIT_NOTIFY=5000

# FreeKassa Settings
FREEKASSA_MERCHANT_ID=
FREEKASSA_SECRET_1=
FREEKASSA_SECRET_2=
FREEKASSA_API_KEY=

# RubPay Settings
RUBPAY_PROJECT_ID=
RUBPAY_SECRET=

# RuKassa Settings
RUKASSA_SHOP_ID=
RUKASSA_TOKEN=
